# Build
build/
*/build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/

# Qt Creator
*.pro.user
*.user
CMakeLists.txt.user

# Editors / OS
.vscode/
.idea/
*.swp
*~